body {
    text-align: center;
}

td {
    width: 100px;
    height: 100px;
    /* background: #1F62DE; */
}

table {
    margin: auto;
}

h2, .player-turn {
    text-align: center;
    color: #DE9B1F;
    margin-bottom: 30px;
}

.vertical {
    border-left:  2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.row {
    font-size: 40px;
}

.row:hover{
    background-color: lightgreen;
    cursor: pointer;
}
.winning-class {
    color: red;
    text-decoration: line-through;
}
.player1 {
    float: left;
    width: 25%;
    font-size: 30px;
}

.player2 {
    float: right;
    width: 25%;
    font-size: 30px;
}

.reset-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.reset-button:hover {
    background-color: rgb(29, 167, 102);
    color: rgb(11, 13, 126);
    cursor: pointer;
    
}

